@import 'utils.scss';
html {
    background-image: linear-gradient(-140deg, #EBF5FA 0%, #FFFFFF 100%);
}

body {
    background-image: url("../img/funky.svg");
    background-repeat:no-repeat;
    background-position: right bottom;
    overflow:hidden;

    @include phone {
        background-image: url("../img/funky-mobile.svg");
    }
}

#landing {

    min-height:100%;
    width:100%;
    position:absolute;
    overflow:hidden;
    z-index: 2;
    
    @include phone {

    }
    @include tablet {

    }

    h2 {
    font-family: OpenSans-Bold;
    font-size: 32px;
    color: #215EFF;
    margin-top:15px;
    z-index:10;
    margin-left:50px;
    

    @include phone {
        font-size:24px;
        margin-left:20px;
      }

    }

    p {
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #215EFF;
    margin-top:15px;
    z-index:10;
    margin-left:50px;

    @include phone {
        font-size:12px;
        margin-left:20px;
      }

    a {
        color: #215EFF;
    }
    }

}

#sign-up-btn {
    border: 8px solid #54D4BE;
    padding: 3px 30px;
    font-family: OpenSans-Bold;
    font-size:20px;
    color: #215EFF;
    margin-left:50px;
    background-color:transparent;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;


    &:hover {
        border: 8px solid #215EFF;
        background-color: #215EFF;
        color:white;
    }
}

#logo {
    margin-top:10em;
    width:20em;
    height:auto;
    z-index:10;
    margin-left:50px;

    @include phone {
        margin-left:20px;
    }
}

#dash-example {
margin-left:-35px;
}

#phones {
    position: absolute;
    right: -40px;
    bottom:0;
    width: 25em;
    z-index: 1;
}

#dash-phones {
    position: fixed;
    margin-top:10em;
    bottom: -10%;
    right: 0%;

    @include phone {
        bottom: 3%;
        right: -5%;
      }

    @include tablet {
       right: -10%;
       bottom:5%;
      }
    
 
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:35px;
    width:100%;
    text-align: center;
    background-image: linear-gradient(-140deg, #04FFD3 7%, #215EFF 100%);

    p {
        font-family: OpenSans-Bold;
        padding-top:7px;
        font-size:14px;
        color:white;
        
    }
 }
 
 